<% layout("templates/layout") %>

<% // begin content %>
<h3>Login or register with Twitter</h3>
<a href="/auth/twitter"><img src="/public/images/sign-in-with-twitter-gray.png" alt="Sign in with Twitter"/></a>
<% // end content %>
